/* body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

li {
  justify-content: space-between;
  margin: 15px;
}
*/
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  font-size: 35px;
}
ul{
  list-style: none;
  width: 100%;
  padding: 0px;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-width: 0px 0px 2px 0px;
  border-style: solid;

}
.awesomebooks{
  border: 1px solid gray;
  width: 150%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li span{
  margin: 4px;
}
li button{
  margin: 4px;
  padding: 4px;
}

.todosbmit{
  margin:10px;
}

h3{
  margin-left: auto;
  margin-right: auto;
}
.fullcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}